page-login {
  /* Remove the stupid outer glow in Webkit */
  input:focus {
    outline: 0 !important;
  }

  .login-content {
    .scroll-content {
      padding: 0 !important;
    }

    .logo-box {
      background: #06DAA1;
      padding-top: 50px;
      padding-bottom: 50px;
    }

    .intro-title {
      text-align: center;
      color: #FFFFFF;
      font-size: 30px;
      font-weight: 400;
      line-height: 1.1;
      /* letter-spacing: -2px; */
    }

    .login-box {
      background: #FFFFFF;
      // padding: 20px 20px 0px 20px;
      margin-top: 30px;
    }

    ion-row {
      align-items: center;
      text-align: center;
    }

    ion-item {
      background: #F4F2F7;
      padding: 6px 10px !important;
      font-size: 1.2em;
      margin-bottom: 10px;
      border: 1px solid #ffffff;
      border-bottom: 0 !important;
      box-shadow: none !important;
    }

    .login-col, .signup-col {
      margin: 0 16px;
    }

    .signup-col {
      margin-top: -10px;
    }

    .item-inner {
      border-bottom-color: #ffffff !important;
      box-shadow: none !important;
    }

    .register-btn {
      font-size: 1em;
      margin-top: 10px;
    }

    .btn-facebook {
      color: #fff;
      background-color: #3b5998;
      border-color: rgba(0,0,0,0.2);
    }
  }
}
